/* src/app/chosen-team/chosen-team.component.scss */

.chosen-team-container {
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px 0;

  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
    border-radius: 5px;
  }
}
